.container {
    background-color: #D8ECFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    max-width: 1000px;
  }
  
  .login-container {
    
    width: 80%;
    text-align: center;
    background-color: D8ECFA;
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 85%;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .kakao-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #FEE500;
    color: #3c1e1e;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
  }
  
  .links {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
  }
  
  .link {
    color: #666;
    text-decoration: none;
    margin: 0 5px;
  }