/* Main 스타일 */
.main {
  position: relative;
  height: calc(100vh - 154px); /* Header와 Footer의 높이를 제외한 전체 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 스크롤바를 숨깁니다 */
}

/* 지도 컨테이너 스타일 */
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 안심경로 검색 컨테이너 스타일 */
.safe-path-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* 약간의 투명도를 줘서 지도와 겹치지 않도록 */
  z-index: 2;
}

/* 안심경로 검색 버튼 스타일 */
.safe-path-button {
  padding: 10px 20px;
  background-color: #d0d0d0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* 긴급 신고 버튼 스타일 */
.emergency-button {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ff6f61;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
}

/* 채팅하기 버튼 스타일 */
.chat-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 10px 15px;
  background-color: #4da6ff;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  z-index: 2;
}
