.search-id-container {
    background-color: #CFE4F2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-id-content {
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }

  .logo {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 160px); /* Adjust width to fit container */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  /* 비활성화된 필드 스타일 */
  .input-field.disabled {
    background-color: rgba(0, 0, 0, 0.1); /* 배경색을 불투명하게 변경 */
    cursor: not-allowed;
  }

  .action-button {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #bbb;
      border: none;
      cursor: pointer;
      margin-right: 30px;
    }
    
    .input-number {
        padding: 10px;
        margin-bottom: 30px;
        margin-right: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: calc(100% - 250px); /* Adjust width to fit container */
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
  
  .verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  
  .resend-button {
    padding: 9px 20px;
    border-radius: 5px;
    background-color: #bbb;
    border: none;
    margin-right: 15px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .timer {
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  .error-message {
    font-size: 13px;
  }
